.home {
  height: 100vh;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.home-head {
  flex: 0.1;
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px;
}

.home-body {
  flex: 0.9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .home-head {
    justify-content: center;
  }
}